<main class="table-container">
    <div class="card">
        <h5 class="table-container__title">Tabla de usuarios</h5>
        <p-table [value]="usuarios" [resizableColumns]="true" columnResizeMode="expand" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn>Id</th>
                    <th pResizableColumn>Name</th>
                    <th pResizableColumn>User Name</th>
                    <th pResizableColumn>Email</th>
                    <th pResizableColumn>Details</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario >
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.username | lowercase}}</td>
                    <td>{{usuario.email | lowercase}}</td>
                    <td><a 
                        class="table-container__button" 
                        pButton type="button" label="More..." 
                        [routerLink]="['/user', usuario.id]" 
                        (click)="filtrarUsuario(usuario.id)"
                        ></a></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</main>
