<div class="user-container">
    <h5 class="user-container__title">User Information</h5>
    <p-tabView>
        <p-tabPanel header="Personal">

            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">ID:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.id}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Name:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.name}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Email:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.email}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Phone:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.phone}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Website:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.website}}</p>
                </div>
            </div>

        </p-tabPanel>
        <p-tabPanel header="Address">

            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Street:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.address.street}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Suite:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.address.suite}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">City:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.address.city}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Zipcode:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.address.zipcode}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Lat:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.address.geo.lat}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Lng:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.address.geo.lng}}</p>
                </div>
            </div>

        </p-tabPanel>
        <p-tabPanel header="Company">
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Name:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.company.name}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">Cath Phrase:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.company.catchPhrase}}</p>
                </div>
            </div>
            <div class="user-container__info-container">
                <div class="user-container__info">
                    <p class="user-container__info-key">BS:</p>
                    <p class="user-container__info-value">{{usuarioSeleccionado.company.bs}}</p>
                </div>
            </div>
            
        </p-tabPanel>
    </p-tabView>
</div>