@import "../../../sass/variables";

.user-container {
  width: 100%;
  height: auto;
  min-height: 90vh;
  padding: 2%;

  &__title-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    height: 80%;
  }

  &__title {
    margin: 20px 0;
    font-family: $roboto;
    font-weight: 600;
    font-size: clamp(20px, 2vw, 30px);
    color: $soft-gray;
  }

  &__info-container-personal {
    width: auto;
    max-width: 330px;
    height: auto;
  }

  &__info-container-address {
    width: auto;
    max-width: 330px;
    height: auto;
  }

  &__info-container-company {
    width: auto;
    max-width: 470px;
    height: auto;
  }

  &__info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info-key {
    margin: 10px;
    font-family: $roboto;
    font-weight: 500;
    color: $soft-gray;
  }

  &__info-value {
    margin: 10px 20px;
    font-family: $roboto;
    font-weight: 300;
  }
}
